.categoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
}

.category.style {
    background-color: #57c4ff31;
}

.category.fashion {
    background-color: #da85c731;
}

.category.food {
    background-color: #7fb88133;
}

.category.travel {
    background-color: #ff795736;
}

.category.culture {
    background-color: #ffb04f45;
}

.category.coding {
    background-color: #5e4fff31;
}