.container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px;

    .imageContainer {
        flex: 1;
        height: 400px;
        position: relative;
    }

    .image {
        object-fit: cover;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .title {
        margin: 15px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .date {
        color: gray;
    }

    .category {
        color: crimson;
        font-weight: 500;
    }

    .desc {
        font-size: 18px;
        font-weight: 300;
        color: var(--soft-text-color);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }

    .link {
        border-bottom: 1px solid crimson;
        width: max-content;
        padding: 2px 0;
    }

    @media screen and (max-width:1024px) {
        .imageContainer {
            display: none;
        }
    }

}